@media screen and (min-width: 760px) {
  body {
    font-size: 1.6rem;
    line-height: 3rem;
  }

  header,
  footer {
    border-radius: 1rem;
  }

  header {
    flex-flow: row-reverse;
    justify-content: space-between;
    padding: 0.5rem;
    height: 120px;
  }

  h1 {
    font-size: 3.5rem;
    margin-left: 2rem;
  }

  img {
    margin: 4rem 2rem 0 0;
    width: 150px;
    border-radius: 75px;
    padding: 0;
  }

  section {
    display: block;
    width: min(75%, 70rem);
  }

  h2 {
    font-size: 1.5rem;
  }

  .border {
    border-top: solid #fcfcfc 3px;
    width: min(95%, 75rem);
  }

  ul {
    margin: 1.5rem 0 0;
  }

  footer {
    font-size: 1.3rem;
  }
}
