@media only screen and (max-width: 760px) {
  body {
    font-size: 1.2rem;
    line-height: 2.5rem;
  }

  header,
  footer {
    border-radius: 0 0 0 0;
  }

  header {
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }

  img {
    width: 80px;
    border-radius: 40px;
    margin: 0;
  }

  h1 {
    font-size: 1.5rem;
    margin: 0;
  }

  h2 {
    font-size: 1rem;
  }

  .border {
    border-top: solid #fcfcfc 2px;
  }

  section {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  footer {
    font-size: 1rem;
  }
}
