@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400&family=Proza+Libre&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background-color: #1a1f23;
  height: 100%;
}

body {
  color: #fcfcfc;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.1rem;
  line-height: 2rem;
}

h1,
h2 {
  font-family: "Proza Libre", sans-serif;
}

header,
footer,
section {
  background-color: #02a232;
  box-shadow: 5px 5px 5px #111517;
  border-radius: 0;
}

header,
footer {
  width: 100%;
}

.container {
  max-width: 760px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  flex-flow: column;
  align-items: center;
  opacity: 0.9;
  padding: 0.5em;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0.25em;
}

img {
  margin: 0;
  width: 80px;
  border-radius: 40px;
  padding: 0.25em;
}

section {
  display: flex;
  flex-flow: column;
  align-items: center;
  opacity: 0.9;
  border-radius: 1rem;
  padding: 1.5rem;
  width: min(75%, 20rem);
  margin: 50px;
}

h2 {
  /*top right bottom left*/
  margin: 0;
  font-size: 1rem;
}

.border {
  border-top: solid #fcfcfc 2px;
  width: min(100%, 15rem);
  opacity: 0.8;
}

ul {
  list-style: none;
  padding-left: 0;
}

footer {
  display: flex;
  line-height: 0;
  padding: 0.5rem;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  font-size: 0.9rem;
}
