@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400&family=Proza+Libre&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background-color: #1a1f23;
  height: 100%;
}

body {
  color: #fcfcfc;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.6rem;
  line-height: 3rem;
}

h1,
h2 {
  font-family: "Proza Libre", sans-serif;
}

.container {
  max-width: 760px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #33a64b;
  opacity: 0.9;
  height: 120px;
  padding: 0.5rem;
  /* top-left top-right bottom-right bottom-left*/
  border-radius: 1rem;
  box-shadow: 5px 5px 5px #111517;
}

h1 {
  font-size: 2.5rem;
  margin-left: 2rem;
}

img {
  margin: 4rem 2rem 0 0;
  width: 150px;
  border-radius: 75px;
}

section {
  margin: 3rem auto;
  padding: 0.5rem;
  opacity: 0.9;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px #111517;
  padding: 1rem;
  background-color: #33a64b;
  width: min(85%, 70rem);
}

h2 {
  /*top right bottom left*/
  margin: 0;
  font-size: 1.5rem;
}

.border {
  border-top: solid #fcfcfc 3px;
  width: min(100%, 50rem);
  opacity: 0.8;
}

ul {
  margin: 1.5rem 0 0;
  list-style: none;
  padding-left: 0;
}

footer {
  display: flex;
  line-height: 0;
  padding: 0.5rem;
  flex-flow: column wrap;
  background-color: #33a64b;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  font-size: 1.3rem;
  /* top-left top-right bottom-right bottom-left*/
  border-radius: 1rem;
  box-shadow: 0 5px 5px 5px #111517;
}

@media only screen and (max-width: 760px) {
  header,
  footer {
    border-radius: 0 0 0 0;
  }
}
