main {
  text-align: center;
  max-width: 1400px;
  margin: 0 auto;
}

#cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

section {
  margin: 0 auto;
  margin-bottom: 1em;
  max-width: 300px;
  background-image: linear-gradient(180deg, whitesmoke, lightblue);
  border-radius: 1em;
  line-height: 0.5em;
  box-shadow: 5px 5px 10px darkslategray;
}

h2 {
  margin-top: 1em;
}
img {
  width: 50%;
  box-shadow: 3px 3px 5px darkslategray;
}
