@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Merriweather&display=swap");

* {
  box-sizing: border-box;
}

/*------------- BODY AND HEADINGS --------------------*/
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: lightcoral;
  font-family: "Merriweather", sans-serif;
  font-size: 10pt;
}

h1,
h2,
h3,
h4 {
  font-family: "Catamaran", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 22pt;
}

h2 {
  font-size: 18pt;
}

/*------------- EVENT BANNER --------------------*/
#event {
  background-color: rgba(255, 255, 0, 0.959);
  padding: 2em;
  text-align: center;
  font-size: 1.5em;
  border: 2px dashed orange;
}

/*------------- CONTAINER --------------------*/
#container {
  margin: 0 auto;
  min-height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr auto;
  justify-items: center;
}

/*------------- HEADER & FOOTER --------------------I really really need to get rid of this duplication.*/
header,
footer {
  background-color: lightgray;
}

header,
footer {
  width: 100%;
}

/*------------- HEADER --------------------*/
header {
  display: flex;
  align-items: center;
}

header img {
  height: 100px;
}

header p {
  display: none;
}

/*------------- NAVIGATION --------------------*/
nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: gray;
}

nav ul {
  margin: 0;
}
.navigation {
  list-style: none;
  padding: 0;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  display: none;
}
.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: 0.5s;
}
.navigation a:hover {
  color: white;
  background-color: darkcyan;
}

.active-nav {
  background-color: whitesmoke;
  color: black;
  box-shadow: 1px 1px 5px black;
  border-radius: 3px;
}

.responsive li {
  display: block;
}

/*------------- MAIN --------------------*/
main {
  width: min(90%, 50em);
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  border-radius: 1em;
}

section {
  margin: 0.5em;
}

#hero img {
  width: 100%;
}

.weather-summary {
  text-align: center;
  margin: 1em 0 1em 0;
  line-height: 0.7em;
  background-color: rgba(211, 211, 211, 0.8);
  padding: 1em;
}

#hide {
  display: none;
}

#new-article img {
  float: right;
  width: 50%;
}

/*------------- FOOTER --------------------*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.76rem;
  padding: 0.5em;
}

footer a {
  color: black;
}

#map-image {
  width: 200px;
  margin: 1em;
}

.contact {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 0.5em;
}

.contact img {
  width: 30px;
}

.contact div {
  display: flex;
  padding: 0.5em;
  align-items: center;
}

.contact div p {
  margin-left: 0.5em;
}

/*-------------------- GALLERY --------------------*/
#gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin: 0 auto;
}

#gallery-main {
  text-align: center;
}

#gallery-main h2 {
  padding: 0.5em;
}

.gallery-image {
  background-color: whitesmoke;
  box-shadow: 2px 2px 4px rgb(59, 0, 0);
  border-radius: 1em;
}

.gallery-image:hover {
  box-shadow: 5px 5px 10px rgb(59, 0, 0);
}

#gallery img {
  border-radius: 1em 1em 0 0;
  max-width: 100%;
}

figure {
  margin: 0;
  width: 100%;
}

#gallery-main p {
  margin: 1em;
}

/*-------------------- STORM CENTER --------------------*/

form legend {
  padding: 0.2rem;
  font-size: 1.2rem;
  font-family: "Catamaran", sans-serif;
  color: whitesmoke;
  text-shadow: 1px 1px darkslategray;
}

form fieldset {
  margin-top: 2rem;
  border-radius: 1rem;
  border: 1px solid whitesmoke;
  padding: 1rem;
}

.top,
fieldset div {
  display: block;
  margin-top: 1.5rem;
}

.top input,
textarea,
select {
  display: block;
  border: 1px solid gray;
  border-radius: 0.3rem;
  padding: 1rem;
  width: 100%;
}

.side {
  display: block;
  margin-top: 1rem;
}

#submitBtn {
  /*top left bottom right*/
  margin: 1.5rem;
  padding: 1rem;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 5px black;
  width: 100%;
}

#submitBtn:hover {
  box-shadow: 4px 4px 10px black;
}

/*------------- CLEARFIX --------------------*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
