@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

:root {
  --gray-row: #e7f0ed;
  --green-row: #e7ffed;
  --font-dark: black;
  --font-light: white;
  --heading: #628ca6;
  --title: #7fb9c2;
}

body {
  font-family: "Ubuntu", sans-serif;
}

/*--------------------- GENERAL TABLE ---------------------*/
table {
  margin: 10px auto;
  margin-top: 300px;
  border-collapse: collapse;
  border: 1px solid var(--title);
  box-shadow: 7px 7px 7px var(--heading);
}

th,
td {
  border: 1px solid var(--title);
  text-align: center;
  padding: 0.5rem;
}

/*--------------------- TABLE HEAD ---------------------*/
thead tr:first-child {
  background-color: var(--title);
  font-size: 1.4rem;
}

thead tr:nth-child(2) {
  background-color: var(--heading);
  color: var(--font-light);
}

/*--------------------- TABLE BODY ---------------------*/
tbody tr:nth-child(even) {
  background-color: var(--green-row);
}

tbody tr:nth-child(odd) {
  background-color: var(--gray-row);
}

#sales-record {
  background-color: var(--heading);
  color: var(--font-light);
}

/*--------------------- TABLE FOOTER ---------------------*/
tfoot {
  background-color: var(--title);
  font-size: 0.75rem;
}
