@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Merriweather&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: lightcoral;
  font-family: "Merriweather", sans-serif;
  font-size: 10pt;
}

#event {
  background-color: rgba(255, 255, 0, 0.959);
  padding: 2em;
  text-align: center;
  font-size: 1.5em;
  border: 2px dashed orange;
}

#container {
  margin: 0 auto;
  min-height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr auto;
  justify-items: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Catamaran", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 22pt;
}

h2 {
  font-size: 18pt;
}

header,
footer {
  background-color: lightgray;
}

header,
footer {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
}

header img {
  height: 100px;
}

header p {
  display: none;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: gray;
}

nav ul {
  margin: 0;
}
.navigation {
  list-style: none;
  padding: 0;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  display: none;
}
.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: 0.5s;
}
.navigation a:hover {
  color: white;
  background-color: darkcyan;
}

.responsive li {
  display: block;
}

main {
  width: min(90%, 60rem);
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  border-radius: 1em;
}

section {
  margin: 0.5em;
}

#hero img {
  width: 100%;
}

#hero {
  position: relative;
}

.weather-summary {
  position: absolute;
  top: 1em;
  left: 1em;
  line-height: 0.7em;
  background-color: rgba(211, 211, 211, 0.8);
  padding: 1em;
}

#forecast {
  display: none;
}

#new-article img {
  float: right;
  width: 50%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.76rem;
  padding: 0.5em;
}

footer a {
  color: black;
}

.contact {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer h3 {
  border-bottom: 2px solid black;
}

.contact img {
  height: 30px;
}

.contact div {
  display: flex;
  padding: 0.5em;
  align-items: center;
}

.contact div p {
  margin-left: 0.5em;
}
