@media screen and (min-width: 1000px) {
  body {
    font-size: 14pt;
  }

  h1 {
    font-size: 40pt;
  }

  h2 {
    font-size: 28pt;
  }

  header img {
    height: 200px;
  }

  /*-------------------- GALLERY --------------------*/
  #gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #gallery-main {
    text-align: left;
  }

  /*-------------------- HOME MAIN --------------------*/

  .town-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0 1em;
  }

  .town-section {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    max-width: 18rem;
  }

  .town-section:nth-child(2) {
    flex-direction: column;
  }

  .town-section img {
    border-radius: 0.5em;
    max-width: 80%;
  }
}
