@media screen and (min-width: 700px) {
  /*-------------------- BODY --------------------*/
  body {
    font-size: 12pt;
  }

  /*-------------------- HEADINGS --------------------*/
  h1 {
    font-size: 36pt;
  }

  h2 {
    font-size: 24pt;
  }

  /*-------------------- HEADER --------------------*/
  header img {
    height: 150px;
  }

  header {
    justify-content: center;
  }

  header p {
    display: block;
  }

  .motto {
    text-align: center;
  }

  /*-------------------- NAVIGATION --------------------*/
  .navigation {
    display: flex;
  }
  .navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
  }

  .navigation li:first-child {
    display: none;
  }

  /*-------------------- MAIN --------------------*/
  main h2 {
    text-align: left;
  }

  #hero {
    position: relative;
  }

  .weather-summary {
    margin: 0;
    position: absolute;
    top: 1em;
    left: 1em;
  }

  #new-article h3 {
    text-align: left;
  }

  /*-------------------- GALLERY --------------------*/
  #gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  #gallery img {
    width: 100%;
  }

  /*-------------------- FORECAST --------------------*/
  #hide {
    display: block;
    width: 100%;
    text-align: left;
  }

  #hide h3 {
    padding: 1em 0 0.2em;
  }

  #forecast {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  #forecast header {
    border-radius: 0.2em 0.2em 0 0;
  }

  #forecast article {
    background-color: whitesmoke;
    font-size: 0.8em;
    margin-bottom: 2em;
    border-radius: 0.2em;
  }

  #forecast h3 {
    padding: 0.5em;
  }

  .forecast-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
  }

  /*-------------------- HOME MAIN --------------------*/

  .town-section {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    width: 100%;
  }

  .town-section:nth-child(2) {
    flex-direction: row-reverse;
  }

  .town-section img {
    border-radius: 0.5em;
    max-width: 50%;
  }

  .home-article {
    text-align: left;
  }

  /*------------- EVENTS DIV --------------------*/
  #town-events {
    text-align: left;
  }

  /*-------------------- FOOTER --------------------*/
  footer {
    font-size: 11pt;
  }

  .contact {
    width: 90%;
    padding: 1em;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
}
