@media screen and (min-width: 63rem) {
  /*---------------------  HEADER ---------------------*/

  .hero-content {
    grid-template-columns: auto auto;
  }

  #join-btn {
    grid-column: 1;
    grid-row: 4;
    width: 20rem;
    margin: 3em;
    justify-self: left;
  }

  .hero-title {
    display: block;
    padding-left: 3rem;
    grid-column: 2;
    grid-row: 2;
  }

  .hero-title h1 {
    font-size: 3rem;
  }

  .hero-forecast {
    display: block;
    grid-column: 2;
    grid-row: 4;
    align-self: center;
    justify-self: right;
    padding: 6rem;
    font-size: 2rem;
  }

  .hero-forecast img {
    width: 15px;
    filter: invert(100%) sepia(38%) saturate(1003%) hue-rotate(291deg)
      brightness(117%) contrast(100%);
  }

  /*---------------------  NAV ---------------------*/

  nav {
    grid-column: 2;
  }
  .navigation li a {
    padding: 1rem;
  }

  /*---------------------  MAIN ---------------------*/
  .main-home {
    display: grid;
    grid-template-areas: "mission business" "weather business" "weather business" "event business";
    grid-template-columns: 3fr 1fr;
    gap: 1rem 4rem;
  }

  /*---------------------  MISSION ---------------------*/
  .mission {
    grid-area: mission;
    margin: 2rem 0 0 2rem;
    display: flex;
    background-color: var(--background-dark);
    color: var(--font-light);
  }

  .mission h3 {
    border-right: solid var(--background-light) 3px;
  }

  .mission-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /*---------------------  EVENTS ---------------------*/

  .upcoming-events {
    grid-area: event;
    margin: 2rem 0 0 2rem;
    background-color: var(--accent-3);
  }

  .calendar-tile h4 {
    background-color: var(--accent-3);
    border-top: solid var(--font-light) 3px;
  }

  /*---------------------  WEATHER ---------------------*/
  .weather-forecast {
    grid-area: weather;
    margin: 2rem 0 0 2rem;
    background-color: var(--accent-2);
    color: var(--font-light);
  }

  .weather-forecast h3 {
    border-bottom: solid var(--background-light) 3px;
  }

  .daily-forecast:nth-child(odd) {
    background-color: var(--accent-2);
  }

  .daily-forecast:nth-child(1),
  .daily-forecast:nth-child(2),
  .daily-forecast:nth-child(3) {
    border-right: solid var(--background-light) 3px;
  }
  /*---------------------  BUSINESS ---------------------*/
  .business-spotlight {
    grid-area: business;
    background-color: var(--background-light);
    margin: 2rem 4rem 0;
    padding: 1em;
  }

  /*---------------------  FOOTER ---------------------*/
  footer {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-around;
  }

  /*---------------------  CITY MAIN ---------------------*/

  .main-city {
    max-width: 1000px;
    margin: 0 auto;
  }

  .main-city section {
    margin-top: 2rem;
  }
  /*---------------------  DIRECTORY MAIN ---------------------*/
  .activate-grid {
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  }
}
