@media screen and (min-width: 43rem) {
  /*---------------------  HEADER ---------------------*/
  #join-btn {
    width: 50%;
    margin: 0 auto 8rem;
  }
  /*---------------------  NAV ---------------------*/
  nav {
    order: -1;
  }

  .navigation {
    display: flex;
  }
  .navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
  }

  .navigation li:first-child {
    display: none;
  }

  a.active-nav {
    border-bottom: 3px solid var(--background-light);
  }

  /*---------------------  4 DAY FORECAST ---------------------*/
  .weather-forecast {
    display: block;
  }

  .weather-forecast h3 {
    background-color: var(--accent-2);
  }

  .weather-content {
    display: flex;
  }

  .daily-forecast {
    width: 100%;
    min-height: 15rem;
    display: grid;
  }

  .daily-forecast:nth-child(odd) {
    background-color: var(--background-light);
  }

  .daily-forecast img {
    justify-self: right;
    padding: 1rem;
  }

  .forecast-temp {
    padding: 1rem;
  }

  .forecast-temp p:nth-child(2) {
    margin-block-start: 0;
    font-size: 1.5rem;
  }
  .forecast-temp p:nth-child(1) {
    margin-block-end: 0;
    font-size: 3rem;
  }

  /*---------------------  MISSION ---------------------*/
  .mission div {
    text-align: center;
  }

  /*---------------------  EVENT ---------------------*/
  .event-content {
    text-align: center;
  }

  /*---------------------  CITY MAIN ---------------------*/
  .main-city section {
    display: flex;
  }

  .main-city section:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
  }

  .main-city section h3 {
    border-bottom: none;
    border-right: 3px solid var(--background-dark);
  }

  section.demographics h3 {
    border-right: none;
    border-left: 3px solid var(--background-light);
  }

  .city-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
  }

  .city-content ul {
    padding: 1rem;
    align-self: flex-start;
  }

  .city-content img {
    min-width: 150px;
  }

  .demographics .city-content {
    flex-direction: row-reverse;
  }

  /*---------------------  DIRECTORY MAIN ---------------------*/

  #toggle-grid {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  #grid {
    padding: 1rem;
  }

  #list {
    padding: 1rem;
  }

  #toggle-grid img {
    height: 30px;
  }

  .activate-grid {
    grid-template-columns: auto auto;
  }

  .activate-list {
    grid-template-columns: auto;
  }
}
