/*---------------------  FONTS ---------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

/*---------------------  VARIABLES ---------------------*/
:root {
  --font-dark: #000000; /*black*/
  --font-light: #ffffff; /*white*/
  --background-dark: #293241; /*gunmetal*/
  --background-light: #e0fbfc; /*light cyan*/
  --accent-1: #ee6c4d; /*burnt cienna*/
  --accent-2: #457b9d; /*celadon blue*/
  --accent-3: #ffd166; /*orange yellow crayola*/
  --accent-4: #359766; /*green cyan*/

  --font-heading: "Lato", sans-serif;
  --font-body: "Roboto", sans-serif;
}

/*---------------------  BODY ---------------------*/
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  color: var(--font-dark);
}

section {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

/*---------------------  NORMAL HEADER ---------------------*/

.normal-header {
  display: flex;
  flex-direction: column;
  background-color: var(--background-dark);
  text-align: center;
  color: var(--font-light);
}

.normal-header h1 {
  font-size: 3.5rem;
}

/*---------------------  HERO HEADER ---------------------*/

.hero-image {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.hero-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-dark);
  background: url("../images/home-hero-large.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(50%);
}

.hero-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 0fr 6fr 1fr;
  color: var(--font-light);
}

.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title :nth-child(1) {
  font-size: 3.5rem;
  margin-bottom: -1rem;
}

.hero-forecast {
  display: none;
}

.weather-forecast {
  display: none;
}

#join-btn {
  color: var(--font-light);
  font-size: 1.5rem;
  background: none;
  border: solid var(--font-light) 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 80%;
  margin: 0.5em;
}

/*---------------------  WRAPPER ---------------------*/
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
/*---------------------  NAV ---------------------*/
nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: none;
  font-size: 1.1rem;
}

nav ul {
  margin: 0;
}

.navigation {
  list-style: none;
  padding: 0;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  display: none;
}

.navigation a {
  color: var(--font-light);
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  transition: 0.5s;
}

.responsive li {
  display: block;
}

.nav-normal {
  background-color: var(--accent-2);
}

/*---------------------  FOOTER ---------------------*/
footer {
  background-color: var(--background-light);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

footer h4 {
  margin-bottom: 0.1rem;
}

footer ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.phone-info {
  margin-top: 1rem;
}

/*---------------------  MAIN HOME ---------------------*/

.main-home section h3 {
  text-align: center;
  margin: 0;
  padding: 3rem;
}

.main-home section h3,
h4,
h5 {
  text-align: center;
}
/*---------------------  MISSION ---------------------*/
.mission h3 {
  background-color: var(--background-dark);
  color: var(--font-light);
}

.mission div h4 {
  margin-bottom: -0.5rem;
}

.mission div {
  padding: 0.5rem;
}

/*---------------------  EVENTS ---------------------*/

.upcoming-events h3 {
  background-color: var(--accent-3);
  color: var(--font-dark);
}

.calendar-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.calendar-tile h4 {
  margin: 0;
  padding: 1rem;
  background-color: var(--accent-1);
}

.event-content {
  display: grid;
  grid-template-columns: auto;
}
.event-content p {
  margin: 0.5rem;
}

.event-content img {
  width: 25px;
  opacity: 0.7;
  justify-self: right;
  margin: 0 1rem 1rem;
}

/*---------------------  BUSINESS SPOTLIGHT ---------------------*/
.business-spotlight h3 {
  background-color: var(--background-dark);
  color: var(--font-light);
}

.business-info:nth-child(odd) {
  background-color: var(--background-dark);
  color: var(--font-light);
}

.business-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.business-info img {
  max-width: 250px;
}

/*---------------------  ALERTS ---------------------*/
.alerts {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--accent-1);
  color: var(--font-light);
}

/*---------------------  CITY MAIN ---------------------*/
.main-city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.main-city section {
  justify-self: center;
  width: 100%;
}

.history {
  background-color: var(--background-light);
}

.demographics {
  background-color: var(--accent-2);
  color: var(--font-light);
}

.city-events {
  background-color: var(--accent-3);
}

.demographics h3 {
  border-bottom: 3px solid var(--background-light);
}
.history h3,
.city-events h3 {
  border-bottom: 3px solid var(--background-dark);
}

.main-city h3 {
  margin: 0;
  text-align: center;
  padding: 2rem;
}

.city-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem 2rem 2rem;
}

.city-content ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
  align-self: center;
  line-height: 2rem;
}
