@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Merriweather&display=swap");
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #a4b691;
  font-family: "Merriweather", serif;
  font-size: 0.75rem;
  line-height: 1.5rem;
}

a {
  color: black;
}

.container {
  max-width: 760px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Catamaran", sans-serif;
  margin: 0;
  padding: 0;
}

header,
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header,
footer,
main {
  background-color: #00abe7;
}

header {
  /*right, bottom, gradien, all-around*/
  box-shadow: 0px 3px 5px #003d52;
}

h1 {
  margin-top: 0.5em;
  font-size: 1.4rem;
}

nav {
  width: 100%;
  margin-top: 1em;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: black;
  display: block;
}

nav li {
  width: 100%;
  text-align: center;
  padding: 0.5em;
}

nav li:hover {
  background-color: #ade9ff;
  color: black;
}

main {
  /*top right bottom left*/
  margin: 1.5em 0 1.5em 0;
  padding: 1.5em;
  width: min(90%, 65rem);
  border-radius: 1em;
  box-shadow: 3px 3px 5px #003d52;
}

main li {
  margin-bottom: 0.5rem;
}

main p {
  margin-bottom: 1rem;
}

footer {
  line-height: 0;
  font: 0.75rem;
  padding: 0.5em;
  box-shadow: 3px 3px 5px #003d52;
}
